.MessageList {
  padding-inline-start: 0;
}
.MessageList li {
  display: block;
  padding: .2rem;
  margin: .2rem;
  border-radius: .2rem;
  max-width: 100%;
  word-break: break-word;
  background: #f9fdfa;
}
.MessageList li {
  border: 1px solid rgb(188, 228, 188);
}
.MessageList li.Disabled {
  background: rgb(235, 235, 235);
  border: 1px solid rgb(191, 191, 191);
  text-shadow: 1px 1px 1px white;
}
.MessageList li.MessageSelected {
  background: darkgreen;
  border: 1px solid green;
}
.MessageList li.MessageSelected > a {
  color: white;
}
.MessageList li > a {
  color: green;
}

li.MessageRead {
  opacity: 0.65;
}
li.MessageSelected {
  opacity: 1;
}
li a {
  text-decoration: none !important;
}
li.MessageRead:hover {
  opacity: 1;
}
li .ListHeader {
  /* border-bottom: 1px solid; */
  margin: -.2rem;
  padding: .2rem;
  background: linear-gradient(180deg, #85c087, white);
}
.MessageSelected .ListHeader {
  background: linear-gradient(180deg, #85c087, darkgreen);
}
li .ListDate {
  display: block;
  border-top: 1px solid #e2e2e2;
}
li.MessageSelected .ListDate {
  border-top: 1px solid #1e7e34;
  box-shadow: 0px -1px 0px #034e03;
}
.Subject {
  font-weight: 600;
}
.From {
  font-style: italic;
}