li input[type="checkbox"] {
  display: none;
  /* box-shadow: 1px 2px 0 blue; */
}
li:hover input[type="checkbox"], li.MessageChecked input[type="checkbox"] {
  display: inline-block;
  cursor: crosshair;
  /* box-shadow: 1px 2px 0 blue; */
}
li.MessageChecked .ListDate:hover {
  background: rgba(0, 195, 255, 0.098);
}
li a {
  cursor: default;
}
li:hover .SubjectText {
  text-decoration: underline !important;
}
li .ListDate:hover {
  background: rgba(0, 255, 60, 0.098);
  cursor: grab;
}
.MessageChecked {
  border: 1px dashed #2183bd !important;
  /* box-shadow: 1px 2px 0 blue; */
}
.MessageChecked a {
  color: #1a50b5 !important;
}
.MessageChecked.MessageSelected a {
  color: white !important;
}
.MessageChecked {
  background: #f9fdfd !important;
}
.MessageChecked.MessageSelected {
  background: #3a7a80 !important;
}
.MessageChecked .ListHeader {
  background: linear-gradient(180deg, #85bbc0, white) !important;
}
.MessageChecked.MessageSelected .ListHeader {
  background: linear-gradient(180deg, #85bbc0, #3a7a80) !important;
}
.MessageChecked.MessageSelected .ListDate {
  /* background: #3a7a80 !important; */
  border-top: 1px solid #519b9c;
  box-shadow: 0px -1px 0px #03474e;
}
/* li.MessageChecked.MessageSelected .ListDate {

} */